@import '~antd/lib/style/themes/default.less';

.tableList {
  .tableListOperator {
    margin-bottom: 16px;
  }
  .tableListSearch {
    margin-bottom: 16px;
    :global {
      .ant-form-item {
        margin-bottom: 10px;
      }
    }
    .submitButtons {
      display: block;
      white-space: nowrap;
      text-align: right;
    }
  }
}