<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <!-- 360双核浏览器默认极速模式 -->
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>好业绩</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script src="https://gw.alipayobjects.com/os/lib/react/16.4.1/umd/react.production.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/lib/react-dom/16.4.2/umd/react-dom.production.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g2-3.2.5/dist/g2.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/antv/assets/g2-plugin-slider/2.0.3/g2-plugin-slider.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bizcharts@3.2.2/umd/BizCharts.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
</head>
<body>
  <!--[if lt IE 11]><p>你使用老旧浏览器会对您的计算机安全造成威胁，请<a href="http://browsehappy.com/">升级</a>你的浏览器。</p><![endif]-->
  <div id="root"></div>
</body>
</html>
