//加载进度提示
.example {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  // border-radius: 4px;
  // margin-bottom: 20px;
  padding: 10px 0;
  position: fixed;
  top: 400;
  right: 0;
  // margin: 20px 0;
  z-index: 1000;
}
.ant-modal-content{
  color: red;
}
.title{
  text-align: center;
}
.company{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  width:170;
  font-size:5px;
  // background: red;
}
.license_no{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  width:170;
  font-size:5px; 
}
//modal
.RealNameContent{
  width: 900px;
  // height: 400px;
  // background: orange;
  margin: 0 auto;
}
.list{
  width: 100%;
  height: 50px;
  // background: red;
  margin-top: 10px;

}
.list:nth-of-type(3),
.list:nth-of-type(4),
.list:nth-of-type(5),
.list:nth-of-type(6)
{
 height: 150px;
}
.list_content{
  margin-top: 5px;
}
.left{
  // background: yellow;
  width: 200px;
  text-align: right;
  float: left;
  padding-right: 10px;
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-weight: 500;
}
.right{
  // background: green;
  width: 700px;
  // height: 100px;
  float: left;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: gray;
}
.right>img{
  width: 350px;
  height: 150px;
}


//   详情modal
.detailContainer{
  width: 100%;
  // background: red;
}
.detailContainer>p{
  width: 100%;
}
.detailContainer>p>span{
  display: inline-block;
  margin: 5px 0;
}
.detailContainer>p>span:nth-of-type(1){
  width: 20%;
  text-align: right;
  color: black;
  font-size: 14px;
  font-weight: 700;
}
.detailContainer>p>span:nth-of-type(2){
  width: 80%;
  font-size: 14px;
}

// index.less
.upload-wrap {
  display: inline-block;
  position: relative;
  width: 200px;
  padding: 3px 5px;
  overflow: hidden;
}

.file-uploader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
  opacity: 0;
  background-color: transparent;
}

.upload-text {
  display: inline-block;
  margin-left: 5px;
}

.upload-tip {
  display: inline-block;
  margin-left: 10px;
  color: #999;
} 
.search1{
  margin: 0 auto;
  width: 320px;
  height: 20px;
  margin-top: 10px;
}
.operrateColor{
  color: #1890ff;
}
.operrateColor:hover{
  color: red;
}
.ant-table td{
  word-break: break-word;
  // max-width: 100px !important;
}